---
import MainLayout from "./MainLayout.astro";

import { getCleanCategory } from "../jdd/Categories";
import { getCleanTag, TagsType } from "../jdd/Tags";
import { getCleanAuthor } from "../jdd/Authors";
import Github from "../components/Icons/Github.astro";

const { frontmatter: infos } = Astro.props;

function getFileName(file: string): string {
  let parts = file.split("/");

  const keepParts = [];
  let secu = 0;

  while ((keepParts[0] ?? "") !== "posts" && secu < 10) {
    keepParts.unshift(parts.pop());
    secu++;
  }

  return keepParts.join("/");
}
---

<MainLayout
  subtitle={infos.title}
  image={"/images/" + infos.image}
  description={infos.description}
>
  <section class="post-infos">
    <img src={Astro.site + "images/" + infos.image} class="post-infos__image" />
    <div class="post-infos__content">
      <div class="post-infos__content-inner">
        <h1 class="post-infos__title">{infos.title}</h1>
        <div class="post-infos__infos">
          <time class="date" datetime={infos.date}>
            {
              new Date(infos.date).toLocaleDateString("fr-fr", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </time>
          <a href={Astro.site + "category/" + infos.category} class="category">
            {getCleanCategory(infos.category)}
          </a>
          <a href={Astro.site + "author/" + infos.author} class="author">
            {getCleanAuthor(infos.author)}
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="post__content">
    <slot />
    <div class="post__tags">
      {
        infos.tags.map((tag: string) => (
          <a href={Astro.site + `tag/${tag}`} class="post__tag">
            {getCleanTag(tag)}
          </a>
        ))
      }
    </div>
    <small>
      <a
        href={"https://github.com/antharuu/jardin-des-devs/blob/master/src/pages/" +
          getFileName(Astro.props.file)}
        target="_blank"
        rel="noopener noreferrer"
      >
        Proposer une modification
      </a>
    </small>
  </div>
</MainLayout>
